<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Package Server | Private</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div>
            <h1>Package Server</h1>
            <h2>Private</h2>
        </div>
    </body>
</html>
